* {
	margin: 0;
	padding: 0;
}

.wrapper, .container, header {
	display: flex;
	justify-content: center;
}



.wrapper {
	flex-wrap: wrap;
	width: 90%;
}

header {
	width: 100%;
	margin: 15px;
}

select, .search {
	width: 150px;
	margin-right: 10px;
	padding: 3px;
	border: 1px solid #93AABA;
	border-radius: 3px;
}

fieldset {
	border: none;
	text-align: right;
}

form:last-child {
	flex-basis: 50%;
}

section {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

img {
	margin: 5px;
}